<!DOCTYPE html>
<html>
<head>
    <title>Delete User</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Delete User</h1>
        <p>Are you sure you want to delete the user: <strong><%= user.user_name %></strong>?</p>
        <form action="/users/confirm-delete/<%= user.user_id %>" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="/users/list-users" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>