<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <header class="bg-dark text-white text-center py-3">
        <h1>Welcome to my blog!</h1>
        <p>by Jakub Grabarczyk</p>
        <a href="/users/author-home" class="settings-link text-white">For author's home page click here!</a>
    </header>
</body>
</html>